*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
body{
    background-color:rgba(117, 106, 106, 0.349);
}
main{
    height:100vh;
    width: 100vw;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color:black; */
}
.flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
}
.calc{
    padding:5px ;
    background-color:rgba(0, 0, 0, 0.575);
    height: 65%;
    width: 20%;
    border:1px solid transparent;
    border-radius: 20px;
}
.calBottom{
    /* background-color: aqua; */
    display:flex;
    align-items: center;
    gap: 10px 20px;
    height:69%;
    justify-content: center;
    flex-wrap:wrap;
    padding-top:20px ;

}
.calTop{
    height:30%;
    width:100%;
    background-color:white;

}
input[type="text"]{
    width:100%;
    height: 100%;
    
    padding-top:127px;
    padding-right:10px;
    text-align:right;
    font-size: xx-large;
    border:1px solid transparent;
    
}
button{
    height:60px;
    width:60px;
    border:2px solid transparent;
    border-radius:100px;
    cursor: pointer;
    font-size:large;
    font-weight: bolder;
    box-shadow: 5px -5px 5px black ;

}
.operator{                
    color:blue;
}
.btn19{
    width:146px;
}
